

.weak-password{
	
	color: red;
	font-size: 18px;
	
}

.strong-password{
	
	color: green;
	font-size: 18px;
	
}

.medium-password{
		
	color: blue;
	font-size: 18px;
}

.password-strength-top-margin{
	
	margin-top: 30px;
}