<style>
#div1 {
    width: 650px;
    height: 305px;
    padding: 10px 0px 0px 10px;
    border-radius: 10px;
    background-color:#f0f8ff;
}
#div2 {
    width: 150px;
    height: 200px;   
    position: relative;
    float:left;
}
#div0 {
    width: 450px;
    height: 70px;   
    position: relative;
    float:top;
}
#div3 {
    width: 210px;
    height: 200px;    
   padding: 10px 0px 0px 0px;
    position: relative;
    float:left;
      
}
#div4 {
    width: 270px;
    height: 200px;    
   position: relative;
    float:left;
    padding: 0px 0px 0px 0px;
      line-height: 90%;
}
button {
width:39%; 
height:17%;
font-size: 102%;
float:left;
border-radius: 5px;
 background-color:#6495ed;
}
#body {
   padding: 150px 0px 0px 150px;
   font-family:  Georgia, serif;
}
p{
line-height: 100%;
}
input{
width:150px; 
height:20px;
font-size: 20px;
border-radius: 3px;

}
</style>