.headpart {
	width: auto;
	height: 90px;
	color: white;
	background-color: #9932CC;
}

.sidebar {
	width: 170px;
	height: 490px;
	left: 0px;
	background-color: #9932CC;
}
.icon-setting {
	font-size: 25px;
	top: 60px;
	left: 35px;
}
ul {
	padding: 0px;
	margin: 0px;
}

.title_menu {
	top: 15px;
	left:20px;
	/* right: 7px; */
}

a:hover {
	color: hotpink;
}

span:HOVER {
	color: hotpink;
}

 #dropdown {
	max-width: 160px;
	min-width: 100px;
	top: 88px;
	width: 250px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.icon {
	top: 15px;
	left: 45px;
}

#print {
	left: 44%;
	position: relative;
}

#back {
	left: 42%;
	position: relative;
}

.generatereportheder {
	border: 1px solid #bebebe;
}

.generatereportmain {
	border: 1px solid black;
}

table, td, th {
	border: 1px solid  #BCC6CC;
}

th, td {
	width: 168px;
	height: 50px;
}

th {
	height: 40px;
	background-color: #77BFC7;
	color: white;
}

.generateposition {
	width: auto;
	height: auto;
	/* left: 17%; */
	/* top: 9.5%; */
	/* position: absolute; */
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

.generateposition1 {
	width: auto;
	height: auto;
	/* left: 17%; */
	/* top: 26.5%; */
	/* position: absolute; */
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

input {
	font-size: 15px;
	width: 220px;
	height: 32px;
	border-radius: 5px;
}

#select {
	width: 120px;
	height: 32px;
	border-radius: 5px;
}

.abtlikebox{background: ; float: right;height:auto;padding: 0 5px 10px 46px;width: 315px;z-index:  99999;position:fixed;right:-268px;top:13%;}
.abtlikebox div{ padding: 5px 0px 10px 8px; margin-right:-8px; border:3px solid  #3b5998; background:#fafafa;}
#fixed1 {
	text-decoration: none;
	position: relative;
	top:80px;
	right:118px;
	width: 120px;
	height: 30px;
	border: 3px solid #bebebe;
} 
#searchcriteria{
	width: 1000px;
    height: 25px;
    padding: 0px 0px 0px 10px;
     background-color:#6495ed;
     color:white;
}
#main{
	width: 1000px;
    height: auto;
    padding-top:20px;
    padding-bottom:5px;
    padding-left:50px;
    padding-right:50px;
     background-color:WhiteSmoke;
     
}
 .hand{  
        cursor: pointer;
    }
    .glyphicon-bell{
    color:white;
    font-size:25px;
    top: 60px;
    }
.generatereport_align{
	float: center;
}

#grap_div{
	padding-left: 40px;
}

#notificationContainer {
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
/* overflow: visible; */
position: absolute;
top: 90px;
 margin-left: -140px;
width: 300px;
z-index: 1;
display: none;
}
#notificationContainer:before {
content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#notificationTitle {
z-index: 1000;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
width: 297px;
border-bottom: 1px solid #dddddd;
}
#notificationsBody {
padding: 33px 0px 0px 0px !important;
min-height:300px;
}
#notificationFooter {
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}

#notification_count {
padding: 3px 7px 3px 7px;
background: #FF8C00;
color: #ffffff;
font-weight: bold;
border-radius: 9px;
position: absolute;
 font-size:25px;
 left:16px;
    top: 50px;
font-size: 11px;
}