.headpart {
	width: auto;
	height: 100px;
	color: white;
	background-color: #9932CC;
}

.sidebar {
	width: 200px;
	height: 440px;
	left: 0px;
	background-color: #9932CC;
}

.icon-setting {
	font-size: 25px;
	top: 60px;
	left: 55px;
}
ul {
	padding: 0px;
	margin: 0px;
}

.title_menu {
	right: 10px;
}

a:hover {
	color: hotpink;
}

span:HOVER {
	color: hotpink;
}

#dropdown {
	max-width: 160px;
	min-width: 100px;
	top: 100px;
	right : 140px;
	width: 250px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.icon {
	top: 15px;
	left: 45px;
}

#print {
	left: 48%;
	position: relative;
}

#back {
	left: 46%;
	position: relative;
}

.generatereportheder {
	border: 1px solid #bebebe;
}

.generatereportmain {
	border: 1px solid black;
}

table, td, th {
	border: 1px solid green;
}

th, td {
	width: 168px;
	height: 50px;
}

th {
	height: 40px;
	background-color: green;
	color: white;
}

.generateposition {
	width: auto;
	height: auto;
	left: 17%;
	top: 9.5%;
	position: absolute;
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

.generateposition1 {
	width: auto;
	height: auto;
	left: 17%;
	top: 26.5%;
	position: absolute;
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

input {
	font-size: 20px;
	width: 250px;
	height: 35px;
	border-radius: 5px;
}

select {
	width: 250px;
	height: 35px;
	border-radius: 5px;
}

.abtlikebox{background: ; float: right;height:auto;padding: 0 5px 10px 46px;width: 315px;z-index:  99999;position:fixed;right:-268px;top:10%;}
.abtlikebox div{ padding: 5px 0px 10px 8px; margin-right:-8px; border:3px solid  #3b5998; background:#fafafa;}
#fixed1 {
	text-decoration: none;
	position: relative;
	top:30px;
	right:118px;
	width: 120px;
	height: 30px;
	border: 3px solid #bebebe;
} 
#searchcriteria{
	width: 1250px;
    height: 25px;
    padding: 0px 0px 0px 10px;
     background-color:#6495ed;
     color:white;
}
#main{
	width: auto;
    height: auto;
    padding-top:20px;
    padding-bottom:5px;
    padding-left:50px;
    padding-right:50px;
     background-color:WhiteSmoke;
     
}