 #dropdown_emp{
	max-width: 160px;
	min-width: 100px;
	top: 88px;
	width: 250px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
} 
#loggedout_employee-name{
	
	/* margin-top: 50px; */
}
.logged_out_name_css{
	font-size: 20px;
	
}
#loggedout_div{
	 padding-left:100px; 
	padding-top: 55px;
}