
 
 
 /* his file name  employeeDashboard.css */


.name-heading{
	
	color: blue;
	font-family: verdana;
	font-style: oblique;
	font-size: 25px;
	
}


.login-time{
	
	/* color: lightgreen ; */
	font-size: 20px;
	font-family: chiller; 
}
#ApplyLeavePadding{
	padding-left: 220px;
	padding-right: 80px;
}