data-found-table.display thead th, tbody{
background-color: purple;
font-weight: bold;
background-position: center bottom;
cursor: hand;
}

#table_pag_div{
	padding-left:180px;
	padding-right: 280px;
}

#Employee_Details{
	color: purple;
	font-weight: bold;
}