 #dropdown_emp{
	max-width: 160px;
	min-width: 100px;
	top: 100px;
	right : -1px;
	width: 250px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
} 
#loggedout_employee-name{
	
	/* margin-top: 50px; */
}
.logged_out_name_css{
	font-size: 25px;
	
}
#loggedout_div{
	padding-left:50px;
	padding-top: 55px;
}