/* override the well default color style */ 
    .well-custom{
      background-color: #9932CC;
      color :white;
       border-radius: 0;
    }
    
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      
    }
    
    .heading-ems{
    
       color:white;
    }
    
    .hand{  
        cursor: pointer;
    }
