/* override the well default color style */ 
    .well-custom{
      background-color: #3c8dbc;
      color :white;
       border-radius: 0;
    }
    
    Remove the navbar's default margin-bottom and rounded borders 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      
    }
   
    
    .headpart {
	width: auto;
	height: 90px;
	color: white;
	background-color: #9932CC;
}

.sidebar {
	width: 170px;
	height: 490px;
	left: 0px;
	background-color: #9932CC;
}

.icon-setting {
	font-size: 25px;
	top: 60px;
	left: 55px;
}

ul {
	padding: 0px;
	margin: 0px;
}

.title_menu {
top: 15px;
	left:20px;
}

a:hover {
	color: hotpink;
}

span:HOVER {
	color: hotpink;
}

#dropdown {
	max-width: 160px;
	min-width: 100px;
	top: 88px;
	right : 10px;
	width: 250px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.icon {
	top: 15px;
	left: 45px;
}

#print {
	left: 50%;
	position: relative;
}

/* .generatereportheder {
	border: 1px solid #bebebe;
}

.generatereportmain {
	border: 1px solid black;
}

.generateposition {
	width: auto;
	height: 60px;
	left: 13%;
	top: 13%;
	position: absolute;
	padding-top: 13px;
	background-color: #F5F5F5;
	padding-left: 10px;
	padding-right: 10px;
}

.generateposition1 {
	width: auto;
	height: auto;
	left: 12.5%;
	top: 21%;
	position: absolute;
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
} */

input {
	font-size: 18px;
	width: 250px;
	height: 35px;
	border-radius: 5px;
}

select {
	width: 250px;
	height: 35px;
	border-radius: 5px;
}
.table-responsive{
 padding-left: 20px;
 padding-right:1px;
}
#pre_add_noticeboard{
	padding-left: 10px;
}
.glyphicon-bell{
    font-size:25px;
    top: 60px;
    }
    
 #search_div{
    position:relative;
    }
#pagination_div{
	position:relative;
	float:right;
	}
}
    
    
    
    
    
    