
.linkColor{
	
	color: #800000;
}
.panelBG{
	
	background-color:#e2e2d4;/* #e5ffff */
	font-size: medium;
	
}
.panel-default >.panel-heading {
    background-color:  #754714;/* #ccfff5 */
    text-align: center;
    color: white;
}

.headerDiv{
	
	background-color: black;
	border-radius: 0px 0px 50px 50px;
	
}

.mainDiv{

   background-color: #080808;
   width: 100%;
   height: 100%;
   
}


img{
  margin:auto;

  max-height: 300px;
}

.topDiv{

   width:auto;
   height: 40%;
   position: relative;
   background-color: #080808;

}
.scrollDiv{
  
  height: 20%;
  width:100%;
  position:fixed;
  background-color: white  ;/* #686868 */
  z-index: 1;
}

 .attendanceDiv{

    background-color:#e2e2d4;  
    border-radius: 25px;
    background-repeat:no-repeat;
    background-position:center;
    
    height: auto;
    max-width:40%;
    min-height:21%;
    left:30%;
    position:relative;
  
  } 




/* css to form */
/* .attendanceForm{

	border-radius: 25px;
	display: inline-block;
	background-color: #FFFFCC;
	padding: 20px;
	width: 65%;
	height: auto;
	left: 17%;
	margin-top:5%;
	position: relative;
	z-index: 3; 
	opacity:0.94;

} */



.enterText {
	/*  color: #330033; */ 
	font-size: 20px;
	font-family: Verdana;
	margin-top: 1px;
	text-align: center;
	color: Black;
}

/* css for enter emploee id text box */
.first {
	height: 4%;
	width: 61%;
	box-shadow: 0px 1px 20px black;
	border: 1px dotted blue;
	padding: 5px 5px;
	font-size: 20px;
	text-align: center;
	font-family: Verdana;
}
/* input { font-size: 18px; } */
.first:hover {
	height: 4%;
	width: 61%;
	box-shadow: 1px 1px 20px lightblue;
	border: 1px dotted #F7730E;
	font-size: 20px;
	text-align: center;
	font-family: Verdana;
}

.ok {
	height: 4%;
	width: 61%;
	box-shadow: 0px 1px 20px lightgreen;
	border: 1px dotted;
	padding: 5px 5px;
	font-size: 20px;
	font-color: green;
	text-align: center;
	font-family: Verdana;
}

.ok:hover {
	height: 4%;
	width: 61%;
	box-shadow: 1px 1px 20px lightgreen;
	border: 1px dotted #F7730E;
	font-size: 20px;
	font-color: green;
	text-align: center;
	font-family: Verdana;
}

.error {
	height: 4%;
	width: 61%;
	box-shadow: 0px 1px 20px red;
	border: 0px solid red;
	padding: 5px 5px;
	font-size: 20px;
	font-color:red;
	text-align: center;
	font-family: Verdana;
}

.error:hover {
	height: 4%;
	width: 61%;
	box-shadow: 0px 1px 20px red;
	border: 0px solid red;
	padding: 5px 5px;
	text-align: center;
	font-family: Verdana;
}

/* end of css */
/* css to msg "invalid employee ID" */
.msg {
	font-family: calibri;
	font-size: 20px;
	color: red;
	text-align: center;
	font-family: Verdana;
}

.msgDiv {
	height: 20px;
	font-family: Verdana;
	/* background-color:green; */
}



/* css to date and time */
.TimeDiv {

	background-color: white;
	width: 35%;
	height: auto;
	/* background-color: gray; */
	margin-top: 35%;
	position: relative;
	font-family: Verdana;
} 

.dateText {

	font-family: Verdana;
	font-size: 18px;
	color: #8C8C8C;
}

.dateTime {
	
	color: #8C8C8C;
	font-family: calibri;
	font-size: 16px;
	font-family: Verdana;
}

/* css for success/fail message */
#messageDiv {
	height: 50px;
	width: 600px;
	margin-left: 34%;
	margin-top: 10%;
	font-family: Verdana;
	/* background-color: white; */
}

#message {
	margin-left: 100px;
	color: green;
	font-size: 20px;
	font-family: Verdana;
}

/*  css for Admin division  */
#AdminDiv {
	
	margin-top: -5%; 
	margin-left: 0px;
	width: 100%;
	height: 40px;

}
.footerText{
	
	color:#E0E0D9;
	font-family: Verdana;
	font-weight: bold;
}
.btn-Text{
	
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	
}
.btn-Primary-Color{
	background-color: #53d1ec;
}
.headingText{
	
	color: black;
	font-family: Verdana;
}

/* scc for chart legend */
.chart-legend li span{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    	font-family: Verdana;
	font-size: 14px;
	font-weight: bold
}

.pageHeading{
	
	text-align: center;
	font-weight: bold;
	font-family: verdana;
	font-size: 18px;
}



