
.adminResetPasswordDiv{
	
	background-color: #CCCC00;
	border-radius: 10px;
	font-family: verdana;
	text-align: center;
}

.adminResetPasswordHeading{
	
	text-align: center;
	font-family: verdana;
	font-size: 30px;
	color:#FF9900;
	
}

.usernameText{
	font-size: 18px;
	/* color: #CCFF00; */
}

.passwordTextBox{
	
	text-align: center;
}

.adminResetPasswordSuccessMsg{
	
	font-size: 20px;
	color:#FF0066;
	
}

.resetSuccesmsg{
	
	text-align: center;
	font-family: verdana;
	font-size: 30px;
	color:#CCCC33;
}

.linkErrorMsg{
	
	text-align: center;
	font-family: verdana;
	font-size: 30px;
	color:red;
	
}






