

.changePasswordMainDiv{
	
	background-color: #f0f8ff;
	
}

.changePassText{
	
	text-align: center;;
	font-family: Verdana;
	font-size: 20px;
	color: blue;
	
}

.changePasswordSuccessMsg{
	
	text-align: center;;
	font-family: Verdana;
	font-size: 17px;
	color: red;
}